[submodule "config/ambermacs"]
	path = users/lunarythia/config/ambermacs
	url = git@github.com:/lunarythia/ambermacs.git
[submodule "users/lunarythia/config/ambermacs"]
	path = users/lunarythia/config/ambermacs
	url = https://github.com/lunarythia/ambermacs.git
